.blob_login {
/*  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  fill: #f29402;
  width: 80vh;
  animation: move_login 3s forwards;
  transform-origin: 50% 50%;
  z-index: 10;*/

   position: absolute;
   top: 50%;
   left: 50%;
   width: 80vh;
   height: 30vh;
   margin-top: -20vh; /* Half the height */
   margin-left: -40vh; 
   fill: #f29402 !important;
   animation: move_login 1.5s forwards;
}

@keyframes move_login {
  0%   { transform: scale(0.4) rotate(0deg) }
  100%  { transform: translate(25vh,10vh) scale(1) rotate(110deg); }
}

/*translate(50vw, 50vh);*/

.input_username{
  width: 220px;
}

.login_button {
    color: #ea8b5a;
    border: solid 2px #ea8b5a;
    border-radius: 20px;
    padding: 0px 20px;
    padding-top: 10px;
    font-size: 22px;
}