.menu {
  list-style: none;
  margin:  24px 0;
  padding-left: 24px;
  padding-right: 10px;
  width: 100%;
}
.menu li {
  display: block;
  height: 30px;
  width: 100%;
  line-height: 30px;
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, .7);
  position: relative;
  cursor: pointer;
}
.menu li:hover {
  color: #FFF;
}
.menu li:first-child {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 700;
  color: #DDD;
  background: rgba(0,0,0,.08);
  margin-left: -18px;
  padding: 0px 10px;
  border-radius: 8px;
  cursor: default;
}

/* Icons */
.notification {
  display: block;
  width: 20px;
  height: 20px;
  color: #202b33ad;
  text-shadow: 0px 0px 20px rgba(255,255,255,.7);
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background: #ffebcd9c;
  position: absolute;
  top: 0; bottom: 0; right: 2%;
  margin: auto;
  transition: .3s ease;
}
ul.menu li:hover .notification {
  text-shadow: 0px 0px 30px rgba(255,255,255,1);
  transition: .3s ease;
}

.sidebar-admin,
body>.navbar-collapse {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
}

.sidebar-admin .sidebar-wrapper-admin,
body>.navbar-collapse .sidebar-wrapper-admin {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}

.sidebar-admin .sidebar-background,
body>.navbar-collapse .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.sidebar-admin .logo,
body>.navbar-collapse .logo {
    padding: 10px 15px 9px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 4;
}

.sidebar-admin .logo p,
body>.navbar-collapse .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
}

.sidebar-admin .logo .simple-text,
body>.navbar-collapse .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.sidebar-admin .logo-tim,
body>.navbar-collapse .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
}

.sidebar-admin .logo-tim img,
body>.navbar-collapse .logo-tim img {
    width: 60px;
    height: 60px;
}

.sidebar-admin .nav,
body>.navbar-collapse .nav {
    margin-top: 20px;
    float: none;
    display: block;
}

.sidebar-admin .nav li .nav-link,
body>.navbar-collapse .nav li .nav-link {
    color: #FFFFFF;
    margin: 5px 15px;
    opacity: .86;
    border-radius: 4px;
    display: block;
    padding: 10px 15px;
}


.sidebar-admin.nav li .nav-link p,
body>.navbar-collapse .nav li .nav-link p {
    margin: 0;
    line-height: 31px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
}

.sidebar-admin.nav li .nav-link i,
body>.navbar-collapse .nav li .nav-link i {
    font-size: 28px;
    margin-right: 15px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.sidebar-admin.nav li.active .nav-link,
body>.navbar-collapse .nav li.active .nav-link {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.sidebar-admin.nav li.separator,
body>.navbar-collapse .nav li.separator {
    margin: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-admin.nav li.separator+.nav-item,
body>.navbar-collapse .nav li.separator+.nav-item {
    margin-top: 31px;
}

.sidebar-admin.nav .caret,
body>.navbar-collapse .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 30px;
}

.sidebar-admin.nav .active-pro,
body>.navbar-collapse .nav .active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar-admin.nav .active-pro a,
body>.navbar-collapse .nav .active-pro a {
    color: #FFFFFF !important;
}

.sidebar-admin.nav .nav-link,
body>.navbar-collapse .nav .nav-link {
    color: #FFFFFF;
    margin: 5px 15px;
    opacity: .86;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
}

.sidebar-admin.logo,
body>.navbar-collapse .logo {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-admin.logo p,
body>.navbar-collapse .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
}

.sidebar-admin.logo .simple-text,
body>.navbar-collapse .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.sidebar-admin.logo-tim,
body>.navbar-collapse .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
}

.sidebar-admin.logo-tim img,
body>.navbar-collapse .logo-tim img {
    width: 60px;
    height: 60px;
}

.sidebar-wrapper-admin {
    background-color: #f29402 !important;
    position: fixed !important;
    width: 244px !important;
}
