.header img {
   width: 240px;
   height: auto;
   margin: 0 auto;
   display: block;
   float: right;
   padding-top: 30px;
   padding-bottom: 30px;
}
 .header .nav-bar {
   text-align: center;
}
 .header .router-link {
   display: inline-flex;
   padding: 0.25em 2em;
   margin: 1em;
   text-decoration: none;
   border-radius: 4px;
   -webkit-font-smoothing: antialiased;
   -webkit-touch-callout: none;
   user-select: none;
   cursor: pointer;
   outline: 0;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: bold;
   font-size: 16px;
   border: 2px solid #41addd;
   color: #41addd;
}
 .header .router-link:active {
   background: #41addd;
   color: #fff;
}
 .nopadding {
   padding: 0px 0px !important;
}
 .margintop {
   margin-top: 20px;
}
 .card-header {
   background-color: transparent !important;
   border-bottom: none !important;
}
 .card {
   background-color: rgba(197, 168, 168, 0.01) !important;
   border: 1px solid rgba(0, 0, 0, 0.05) !important;
}
 .centerVertical {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
 .guidelinename_noti {
   font-size: 14px;
   line-height: 1.3;
   display: block;
   padding-bottom: 5px;
}
 #line-chart, #konsultation-chart, #abstimmung-chart, #pie-chart {
   min-height: 250px;
}
 #area-chart {
   min-height: 350px;
}
 select {
   background-color: transparent;
   border: none;
}
 .select_noarrow {
   font-size: 22px !important;
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
}
 .selectdiv:after {
   content: '\f078';
   font: normal normal normal 17px/1 FontAwesome;
   color: #0ebeff;
   right: 11px;
   top: 6px;
   height: 34px;
   padding: 15px 0px 0px 8px;
   border-left: 1px solid #0ebeff;
   position: absolute;
   pointer-events: none;
}
 svg {
   display: block;
   margin: 0 auto;
}
 