.home-page h2 {
   font-size: 1.5em;
}
 .home-page section {
   margin: 3em auto;
}
 .home-page section:first-child {
   margin-top: 0;
}
 .home-page section.centered {
   text-align: center;
}
 .home-page form {
   margin-bottom: 1em;
}
 .home-page form input {
   outline: none;
   border-bottom: 1px dotted #999;
}
 .home-page span.at-prefix {
   color: black;
   margin-left: 0.4em;
}
 